*{
  padding:0;
  margin:0;
  list-style:none;
  box-sizing: border-box;
  font-family: YuGothic, "Yu Gothic", sans-serif;
}
.flex-container{
  display: flex;
  justify-content: space-between;
}
.inner{
  width:calc(100% - 7vw);
  margin: 0 auto;
}
.header{
  height: 70px;
  width:100%;
  background-color:#fff;
  justify-content: space-between;
}
.header .logo{
  width: 120px;
  margin: 20px;
}
.header ul.glonavi-main li:last-child a{
  border-right: 1px solid #C8C8C8;
}
.header ul.glonavi-main li ,
.header ul.glonavi-account li{
  display: flex;
  align-items: center;
  height: 70px;
}

.header ul.glonavi-main li a,
.header ul.glonavi-account li a{
  font-weight: bold;
  color: #333;
  text-decoration: none;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}
div{プロパティ:値;}
.main-contents{
  color:#333;
  background-color:#AEF3E7;
  padding:20px;
  width:70%;
}
/* 1=全方位,2=上下 左右,3=上 左右 下,4=上から右回り それぞれ指定できます */
#heading1{color:#c33c54;}

.main-contents h2,
.main-contents h3,
.main-contents h4,
.main-contents h5
{
  color:#37718E;
  margin-top: 20px;
}
